<div class="container">
  <h2>Want to make a difference in the world? Start a new FraudStartr campaign today.</h2>

  <form #projectData="ngForm" (ngSubmit)="addProject(projectData); false">
    <label for="title">Name of your campaign:</label>
    <input type="text" name="title" ngModel>
    <label for="description">Description of your campaign:</label>
    <input type="text" name="description" ngModel>
    <label for="targetFunding">How much are you looking to raise for this project?</label>
    <input type="number" name="targetFunding" ngModel>
    <label for="founderName">Your name:</label>
    <input type="text" name="founderName" ngModel>
    <label for="founderEmail">Your email:</label>
    <input type="text" name="founderEmail" ngModel>
    <label for="purpose">The mission or purpose of this campaign:</label>
    <input type="text" name="purpose" ngModel>
    <label for="reward">What rewards will you send to your backers?</label>
    <input type="text" name="reward" ngModel>
    <label for="typeOfProject">How do I English?</label>
    <select name="typeOfProject" ngModel>
      <option value="product">Development of a Product</option>
      <option value="charity">Charitable Organization</option>
      <option value="other">Other</option>
    </select>
    <button type="submit" name="button" class="btn">Submit your campaign!</button>
  </form>
  </div>
