<p>
  list-projects works!
</p>
<select (change)="onChange($event.target.value)">
  <option value="all">All</option>
  <option value="product">Development of a Product</option>
  <option value="charity">Charitable Organization</option>
  <option value="other">Other</option>
</select>
<div *ngFor="let project of projects | async | filterProjects:filterBy">
  <p *ngIf="!editing" (click)="goToDetailPage(project)">{{project.title}}</p>
  <input *ngIf="editing" type="text" value="{{project.title}}" [(ngModel)]="project.title" #title>
  <p *ngIf="!editing">{{project.description}}</p>
  <input *ngIf="editing" type="text" value="{{project.description}}" [(ngModel)]="project.description">
  <p *ngIf="!editing">{{project.targetFunding}}</p>
  <input *ngIf="editing" type="text" value="{{project.targetFunding}}" [(ngModel)]="project.targetFunding">
  <p *ngIf="!editing">{{project.founders.name}}</p>
  <input *ngIf="editing" type="text" value="{{project.founders.name}}" [(ngModel)]="project.founders.name">
  <p *ngIf="!editing">{{project.founders.email}}</p>
  <input *ngIf="editing" type="text" value="{{project.founders.email}}" [(ngModel)]="project.founders.email">
  <p *ngIf="!editing">{{project.purpose}}</p>
  <input *ngIf="editing" type="text" value="{{project.purpose}}" [(ngModel)]="project.purpose">
  <p *ngIf="!editing">{{project.reward}}</p>
  <input *ngIf="editing" type="text" value="{{project.reward}}" [(ngModel)]="project.reward">
  <p *ngIf="!editing">{{project.typeOfProject}}</p>
  <input *ngIf="editing" type="text" value="{{project.typeOfProject}}" [(ngModel)]="project.typeOfProject">

  <hr>
  <div *ngIf="currentRoute === '/admin'">
    <button (click)="toggleEditing(project)">Edit</button>
    <button (click)="deleteProject(project)">Delete</button>
  </div>
  <hr>
</div>
