/* You can add global styles to this file, and also import other style files */

body {
  background-color: #fafafa;
  font-family: sans-serif;
  color: #334;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4da7ae;
  transition: all 0.3s ease-in-out;
}

a:visited {
  color: #4da7ae;
}

a:hover {
  text-decoration: none;
  opacity: 0.7;
}

label, input, button {
  display: block;
}
